@charset "utf-8";
/* CSS Document */
.margin{width:1190px;margin:0 auto;}
.org:hover{
    color:orange;
}
#top{
    height:30px;
    background:#eee;
    }
#top .top-l{
    float: left;
    height: 30px;
}
#top .top-l li{
    float: left;
    margin-right:18px;
    font:12px/30px "";
    color:#797776;
}
#top .top-l li a{
    display: block;
    float:left;
}
#top .top-l li i{
    display: inline-block;
    height:12px;
    width:1px;
    background: #ccc;
    margin:10px 0 0 10px;   
}
#top .top-r{
    float:right;
    height:30px;
}
#top .top-r li{
    float: left;
    font:12px/30px "";
    color:#797776;
    margin-right:26px;
}
#top .top-r li  span{
    color:red;
}
#top .top-r li .jie{ 
    height:18px;
    width:50px;  
    color:white;    
}
header{
    height:112px;
}
header .logo{
    height:110px;
    width:285px;
    float: left;
}
header .logo a{
    float: left;
    padding:20px 0;
    height:70px;
    width:285px;
    display: block;
}
header .h-c{
    height:58px;
    width:520px;
    float:left;
    margin:30px 0 0 140px;
}
header .h-c .tex{
    width:364px;
    height:32px;
    border:2px solid #e13738;
    font:12px/32px "";
    color:#999;
    padding: 0 10px;
    float: left;
}
header .h-c .sub{
    width:76px;
    height:36px;
    background:#e13738;
    color:#fff;
    text-align: center;
    border:0;
    float: left;
}
header .h-c ul{
    float: left;
}
header .h-c ul li{
    float: left;
    font:12px/26px "";
    color:#999;
    margin-right: 10px;
}
header .h-r{
    float: left;
    margin-top:30px
}
header .h-r a{
    display:block;
    width:100px;
    height:30px;
    border:1px solid #eee;
    background:#f9f7f8;
    float: left;
    margin-right: 10px
}
header .h-r a img{
    margin:5px;
}
header .h-r a span{
    font:12px/30px "";
    color:#6b6b6a;
}
header .h-r a span b{
    color:red;
}
nav{
    height:40px;
    border-bottom:2px solid #cb1d1e;
    position: relative;
}
nav .n-l {
    float: left;
    width:230px;
    height:40px;
    background:#f42424;
    text-align: center;
   
}
nav .n-l a{
    display: block;
    width:230px;
    height:40px;
}


nav .n-l a span{
    font:700 18px/40px "";
    color:#fff;
}
nav .n-l a img{
    width:10px;
    height:5px;
}
nav ul{
    float: left;
}
nav ul li{
    float: left;
    margin:0 24px;
}
nav ul li.li4{
    position: relative;
}
nav ul li img{
   
    position: absolute;
    left: 68px;
    top: -7px;
}
nav ul li a{
    font:700 16px/36px "";
    color:#565453;
}
nav ul li a.active{
    
    color:#e13738;
}
nav ul li a:hover{
    color:#e13738;
}

nav .n-r{
    width:174px;
    height: 40px;
    float:right;
    background: #f42424;
    text-align: center;
}
nav .n-r a{
    font:700 14px/40px "";
    color:#fff;
}